.center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
}
.login{
    width: 75%;
    border-radius: 10px;
    box-shadow: 0px 8px 40px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 8px 40px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 40px -10px rgba(0,0,0,0.75);
}
.login-img{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.login-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-title h5{
    color: #666666;
}
.login-btn{
    font-size: 22px;
    font-weight: 600;
}
.google-img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}