.section-title span{
    color: #ff0000df;
}
.section-title h1{
    font-size: 40px;
    font-weight: 600;
    color: #131212df;
    padding-top: 10px;
}

.why_choose img{
    width: 100%;
}
.why_choose p{
    color: #808080;
}

.package{
    font-size: 70px;
    padding: 20px;
    margin-bottom: 25px;
    margin-top: 30px;
    color: #ED4944;
    border: 1px solid #ED4944;
    border-radius: 5px;
}