.footerBg{
    background-color: #111827;
}
.footer-detail{
    margin-top: 100px;
    padding: 100px 0;
}
.footer-detail h2{
    background: #FF3526;
    background: -webkit-linear-gradient(to top, #FF3526 20%, #DA553B 52%, #94453D 100%);
    background: -moz-linear-gradient(to top, #FF3526 20%, #DA553B 52%, #94453D 100%);
    background: linear-gradient(to top, #FF3526 20%, #DA553B 52%, #94453D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
}
.footer-detail h5{
    color: #ffffff;
    margin-bottom: 25px;
}
.footer-detail img{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
.footer-detail small{
    color: gray;
}

.quick-links{
    padding-left: 0;
}
.quick-links li{
    list-style: none;
}
.quick-links li a{
    padding: 0;
    color: gray;
    font-weight: 600;
    transition: 0.5s;
}
.quick-links li a:hover{
    color: #B94C42;
}
.quick-links li{
    color: gray;
    transition: 0.5s;
}
.quick-links li:hover{
    color: #B94C42;
}

.footer-copyright{
    background-color: #1B2533;
    color: gray;
}
.social-media{
    font-size: 22px;
    margin: 0 10px;
}