#top-deals{
    padding-top: 20px;
}
.single_deal{
    transition: 0.5s;
    border: none !important;
    border-radius: 5px;
    box-shadow: 0px 0px 28px 7px rgba(227,220,220,0.5);
    -webkit-box-shadow: 0px 0px 28px 7px rgba(227,220,220,0.5);
    -moz-box-shadow: 0px 0px 28px 7px rgba(227,220,220,0.5);
}
.single_deal:hover{
    color: #f8f8f8;
    background: rgb(240,88,66);
    background: linear-gradient(90deg, rgba(240,88,66,1) 0%, rgba(234,51,72,1) 100%);
}
.detailBtn Button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #fbfbfb;
    background-color: #ED4944;
    margin-top: 10px;
    transition: 0.5s;
}
.single_deal:hover .detailBtn Button{
    color: #ED4944;
    background-color: #fbfbfb;
}
.card-title.h5 {
    width: 275px;
}