.hero-section img{
    opacity: 0.7;
}
.hero-section h1{
    font-size: 60px;
    font-weight: bold;
}

span.carousel-control-next-icon,span.carousel-control-prev-icon {
    width: 60px;
    height: 60px;
    background-color: #ED4944;
    border-radius: 50%;
}